body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-grow: 1;
  height: 100vh;
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 1em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width:600px) {
  #root {
    flex-direction: column;
  }  
}

/* .fa-coins:before { */
/* position: absolute; */
/* width: 80px; */
/* height: 80px; */
/* left: 13px; */
/* top: 212px; */
/* color: red; */

/* } */

.sideby {
  display:flex
}

